.top-navigation {
    background-color: black;
    display: block;
    padding: 30px;
}

.top-navigation a {
    color: white;
    font: normal;

    padding: 14px 14px;

    align-items: center;
    text-decoration: none;
    font-size: 20px;
}

.top-navigation a:hover {
    background-color: white;
    color: #7D246D;
    font-size: 120%;
}

body {
    font-family: 'Segoe UI';
    background-color: rgba(77, 77, 77, 0.66); /* Reduced opacity for the background color */
    background-blend-mode: hue;
    background-image: url('disabled_person_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }